body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    width: 100%;
}
ul li{
    width: 30%;
    padding: 10px;
    list-style-type: none;
    border: 1px solid black;
    margin: 10px auto;
}
.checkout-box{
    display: grid;
    grid-template-columns: 80% auto;
}
a{
    width: 100%;
    margin-top: 40%;
    padding: 10px;
}